@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Karen's Info</title>
</head>
<body>

    <h1>Karen's Information</h1>

    <p><strong>Email:</strong> karen@email.com</p>
    <p><strong>Telefon:</strong> 067-879-674</p>
    <p><strong>Adresse:</strong> Karen's Avenue 8250, Aarhus</p>

</body>
</html>
