@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Karen's Info</title>
</head>
<body>

    <h1>Karen's Information</h1>

    <p><strong>Email:</strong> karen@email.com</p>
    <p><strong>Telefon:</strong> 123-456-7890</p>
    <p><strong>Adresse:</strong> Karen's Avenue 123, Byen</p>

</body>
</html>
