@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h1>Dagens menu</h1>

    <table>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
        <tr>
            <td>Man</td>
            <td>Lasagne</td>
            <td>Is</td>
        </tr>
        <tr>
            <td>Tir</td>
            <td>Ris med kød</td>
            <td>Pastasalat</td>
        </tr>
        <tr>
            <td>Ons</td>
            <td>Kødboller</td>
            <td>Pasta</td>
        </tr>
        <tr>
            <td>Tor</td>
            <td>Kartofler med okse</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Fre</td>
            <td>Suppe</td>
            <td>Buffet</td>
        </tr>
    </table>

</body>
</html>